#pass {
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    position: absolute;
}

#pass div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0;
    background-color: var(--bgcolor);
    border-radius: 30px;
    color: var(--text-color);
}

#pass hr{
    border: 7px dashed var(--bgcolor);
    margin: 0;
    width: 90%;
    left: 4.5%;
    position: relative;
}