#pass {
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    position: absolute;
    font-weight: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pass div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 0;
    background-color: var(--bgcolor);
    border-radius: 30px;
    color: var(--text-color);
}

#pass hr{
    border: 7px dashed var(--bgcolor);
    margin: 0;
    width: 90%;
    left: 4.5%;
    position: relative;
}

#pass h1{
    font-size: 5em;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

#pass p{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}